*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    background-color: brown;
}
main{
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
}
.box{
    background-color: beige;
    width: 100%;
    height: 100%;
}
#b1{
    grid-column: 1/3;
    grid-row: 1/2;
}
#b2{
    grid-column: 3/6;
    grid-row: 1/2;
}
#b3{
    grid-column: 6/13;
    grid-row: 1 /3;
}
#b4{
    grid-column: 1/13;
    grid-row: 3/5;
}
#b5{
    grid-column: 1 /6;
    grid-row: 5/ 9;
}
#b6{
    grid-column: 6/13;
    grid-row: 5/9;
}